.carousel {
  overflow-x: hidden;
  position: relative;

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__track {
    display: flex;
    width: 100%;
    transition: transform .3s ease;

    &Dragging {
      transition: none;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
    top: 50%;
    pointer-events: none;

    &Next,
    &Prev {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      pointer-events: auto;

      img {
        width: 80px;
        aspect-ratio: 1;
      }
    }

    &Next {

      img {
        transform: rotateZ(90deg);
      }
    }

    &Prev {

      img {
        transform: rotateZ(-90deg);
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 20px;
    bottom: 5px;
    pointer-events: none;

    &Dot {
      width: 100px;
      height: 5px;
      border-radius: 100px / 50px;
      background-color: white;
      pointer-events: auto;

      &Current {
        background-color: black;
      }
    }
  }
}

.button {
  height: 30px;
  width: 100px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;

  &:hover {
    background-color: gray;
  }

  &Control {
    display: flex;
    column-gap: 20px;
    width: min-content;
    margin-bottom: 20px;
    margin-left: auto;
  }
}